.mainBar {
    background-color: #31582F;    
}

.barList {
    display: flex;
    gap: 50px;
}

.bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    
}

.barLink {      
    text-decoration: none;
    color: #fff;
}

.barLink:hover {
  color:rgba(255, 255, 255, 0.5) ;  
}




.mainBar img {
    width: 90px;

}


@media (max-width: 600px) {
    .barList {
        display: none;
    }
    
}