@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    width: 450px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #eee4;
    color: #eee;    
    font-weight: bold;
    font-size: large;
    font-family:monospace;
    transition:  0.5s;
    z-index: 100;
}

.btn:hover {
    background-color: #eee;
    color: #555;
}