.carousel {
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    padding: relative;

}

.carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .content .author {
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .title .topic {
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;

}

.topic {
    color: #f1683a;
}

.carousel .list .item .content .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel .list .item .content .btn {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: "Poppins";
    font-weight: 500;
}


.carousel .list .item .content .btn:nth-child(2) {
    background-color: black;
    border: 1px solid #eee;
    color:  #eee;
}

