.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.contain {
    display: flex;    
    align-items: center;
}

#contain_card {
    flex-direction: row-reverse;
}

.container img {
    border-radius: 20px;
    width: 730px;
    height: 450px;
}


.container p {
    color: black;
}