@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --color-text: rgb(93, 125, 56);
    --bg-link: #EC6608;
    --color-link: rgb(198, 103, 47);
    --ff: "Plus Jakarta Sans", sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
}


.title {
    color: var(--color-text);
    font-size: 20px;
    letter-spacing: 4px;
    font-family: var(--ff);
    font-weight: 600;
}

.text {
    font-family: var(--ff);
    color: var(--color-text);
    font-size: 40px;
    font-weight: 800;

}

.btn {
 margin: 2rem 0;
}

.btn__link {
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--color-link);
    text-decoration: none;
    border: 2px solid var(--color-link);
    font-family: var(--ff);
    font-weight: 600;
    font-size: 15px;   
}

.btn__link:hover {
    border: 2px solid var(--bg-link);
    color: #fff;
    background-color: var(--bg-link);
}

.cardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    justify-content: space-between;


}





.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 8px 4px #616060;
    align-items: start;
    margin-bottom: 1rem;
    max-width: 90%;
    padding-bottom: 1rem;


}


.containDescription,
.containDate {
    margin-left: 15px;

}

.cards img {
    position: relative;
    width: 100%;

}

.contain {
    display: flex;

}



.containDescription {
    font-family: var(--ff);
    font-weight: 600;
    font-size: 15px;
    color: rgb(79, 79, 79);
}

.containDate {
    display: flex;
    font-family: var(--ff);
    font-size: 15px;
    font-weight: 600;
    color: rgb(95, 125, 43);
    gap: 10px;

}

.icon {
    display: none;
}


@media (min-width: 1024px) {

    .container {
        text-align: center;
        padding: 5rem 0;

    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;        
        width: 1100px;
        height: 100px;        
        align-items: center;
        padding-bottom: 0;
    }
  
    

    .cards img {        
        width: 277.5px;
        height: 100px;    
       
    
    }




    .icon {
        display: block;
        color: var(--color-link);
        margin-right: 1rem;
    }


}