@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --color-text: rgb(93, 125, 56);
    --bg-link: #EC6608;
    --color-link: rgb(198, 103, 47);
    --ff: "Plus Jakarta Sans", sans-serif;
}

.container {
    text-align: center;
    padding: 15rem;  

}

.title {
    color: var(--color-text);
    font-size: 20px;
    letter-spacing: 4px;
    font-family: var(--ff);
    font-weight: 600;
}

.text {
    font-family: var(--ff);
    color: var(--color-text);
    font-size: 40px;
    font-weight: 800;

}

.container__link {
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--color-link);
    text-decoration: none;
    border: 2px solid var(--color-link);
    font-family: var(--ff);
    font-weight: 600;
    font-size: 15px;
    
}

.container__link:hover {
    border: 2px solid var(--bg-link);
    color: #fff;
    background-color: var(--bg-link);
}

.cardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
  
  

}

.cards {
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 5px 5px black;
    align-items: center;
    margin-bottom: 3rem;   
    
   
}

.cards img {   
    position: relative; 
    width: 100%;
    height: auto;
}

.contain {
    display: flex;
}

.containDescription {
    font-family: var(--ff);
    font-weight: 600;
    font-size: 15px;
    color: rgb(79, 79, 79);
}

.containDate {
    display: flex;
    font-family: var(--ff);
    font-size: 15px;
    font-weight: 600;
    color: rgb(95, 125, 43);
}

.icon {
       color: var(--color-link);
}